#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0.5rem;
	text-align: center;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

img {
	max-width: 100%;
}

.logo {
	width: 45vw;
	min-width: 200px;
	max-width: 600px;
	height: 25vw;
	max-height: 250px;
	object-fit: cover;
	margin: 20px;
}

.card {
	max-width: 700px;
	padding: 1em;
	text-align: left;
	margin: 10px;
	border: 3px solid rgba(255, 255, 255, 0.267);
	border-radius: 20px;
}

.highlight:hover {
	background-color: #303030;
}

body {
	margin: 0;
	/* display: flexbox;
	place-items: center; */
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h3 {
	color: #ff5757;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	cursor: pointer;
}

a {
	font-weight: 600;
	font-size: large;
	color: #646cff;
	text-decoration: inherit;
}

.comment {
	background-color: #444444;
}

.votes-and-comments {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	gap: 8px;
	align-content: center;
	align-items: center;
	background-color: #444444;
	border-radius: 10px;
	padding: 8px;
}
.voting {
	background-color: #303030;
	padding: 5px;
	border-radius: 5px;
}

.comment-count {
	color: #ff5757;
}

.postingMsg {
	/* float: right; */
}

input {
	width: auto;
	height: 24px;
	margin: 5px;
	border-radius: 5px;

	border: 2px solid #ccc;
	border-radius: 10px;
	font-size: medium;
}

button {
	font-size: large;
	margin: 10px;
}

button > * {
	pointer-events: none;
}
nav {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	gap: 9px;
	justify-content: center;
	margin-bottom: 10px;
}
.nav-box {
	display: flex;
	color: #ffffff;
	background-color: #303030;
	border: white;
	padding: 0.5% 1.5%;
	border-width: 3px;
	border-style: solid;
	border-radius: 7px;
	justify-content: center;
	align-items: center;
}
.nav-box:hover {
	color: #acadbd;
	background-color: #444444;
}
.current {
	color: #ff5757;
	background-color: #444444;
}

.disable {
	pointer-events: none;
}

.filter {
	min-height: 4%;
	font-size: large;
}

select {
	height: 10%;
	width: 20%;
	font-size: large;
}
.avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 5px 5px;
}
.home {
	height: auto;
	width: auto;
}
.fullArticle {
	background-color: #303030;
	border-radius: 20px;
	padding: 10px;
}
.delete-btn {
	display: flex;
	flex-direction: row;
}
